@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Karla", sans-serif;
}

:root {
	--color-primary: #fbb30b;
	--grey: #514c5d85;
	--border-color: #ececec;
	--text-color: #2c263d;
	--btn-dark: #2f417e;
}

.button {
	background-color: var(--btn-dark);
	border: none;
	border-radius: 15px;
	color: #fff;
	padding: 17px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	display: flex;
	flex-direction: row;
	align-items: center;

	i {
		margin-left: 2rem;
	}
}

body {
	background-color: #fbfbff;
}

// Dashboard Content Styles

.dashboard-container {
	position: relative;
}

.dashboard-content-container {
	position: relative;
	width: calc(100vw - 300px);
	min-height: 100%;
	position: relative;
	padding-top: 8rem;
	margin-left: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.heading-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 2.5rem;

		.heading-text {
			font-size: 2.5rem;
			font-weight: 700;
			color: var(--text-color);
		}
	}

	.table-toggle-container {
		display: flex;
		align-items: center;
		width: 100%;
		margin-top: 2rem;
		border-bottom: 1px solid var(--border-color);
		padding: 0.5rem 2.5rem;
		justify-content: space-between;
		overflow-x: scroll;

		.table-toggle-button {
			font-weight: 600;
			font-size: 1.1rem;
			min-width: 200px;
			width: 30%;
			color: var(--text-color);
			transition: all 0.4s ease;
			position: relative;
			margin-bottom: 0.5rem;

			&.active::before {
				content: "";
				display: block;
				position: absolute;
				bottom: calc(-1rem + -2px);
				left: -0.5rem;
				background-color: var(--color-primary);
				width: 100%;
				height: 4px;
				border-radius: 2px;
			}

			&::after {
				content: attr(data-number);
				position: relative;
				background-color: #fbb30b27;
				padding: 0.1rem 1rem;
				border-radius: 5px;
				width: 3rem;
				height: 2rem;
				margin-left: 0.5rem;
				color: var(--color-primary);
			}

			&.active {
				color: var(--text-color);
				&::after {
					background-color: var(--color-primary);
					color: white;
				}
			}
		}
	}
}

.filter-buttons-container {
	display: flex;
	flex-direction: row;
	min-width: 100%;
	overflow-x: scroll;
	align-items: center;
	justify-content: flex-start;
	padding: 0.5rem 0;
	padding-left: 1rem;
	margin-top: 2rem;

	.filter-button {
		padding: 0.8rem 1rem;
		border-radius: 10px;
		margin: 0.5rem 1rem;
		min-width: 10rem;
		border: 1px solid var(--border-color);
		font-weight: 600;
		color: lightgray;
		max-width: fit-content;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		white-space: nowrap;

		i {
			font-size: 1rem;
			margin: 0rem 1rem;
		}

		&.active,
		&:hover {
			border-color: 2px solid var(--color-primary);
			color: var(--color-primary);
		}
	}
}

.table-container {
	margin-top: 1rem;
	margin-bottom: 2rem;
	width: 95%;
	margin-left: 2.5%;
	overflow: scroll;

	.table-heading-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		min-width: fit-content;

		.table-heading {
			width: 20%;
			min-width: 15rem;
			font-size: 1rem;
			font-weight: 600;
			color: var(--text-color);
			padding: 0.5rem 1rem;
			height: 3rem;
			display: flex;
			align-items: center;

			&:first-of-type {
				margin-left: 6rem;
			}
		}
		.btn-spacing {
			width: 10%;
			min-width: 10rem;
			height: 3rem;
		}
	}

	.table-row {
		display: flex;
		flex-direction: row;
		align-items: center;
		min-width: fit-content;
		min-height: 3rem;
		background-color: white;
		margin: 0.5rem 0;
		padding: 0.5rem 0;

		.table-checkbox {
			width: 6rem;
			border-color: #e4e4e4;
			border-radius: 5px;
			align-self: center;
			justify-self: center;
			height: 2rem;
		}

		.table-cell {
			width: 20%;
			min-width: 15rem;
			font-size: 0.9rem;
			font-weight: 600;
			color: #49484d;
			padding: 0.5rem 1rem;
			height: 3rem;
			display: flex;
			align-items: center;
		}
		.table-action-btn {
			width: 10%;
			min-width: 10rem;
			height: 3rem;
			background-color: #fbb30b27;
			border-radius: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--color-primary);
			font-weight: 600;
			font-size: 0.9rem;
			padding: 0.5rem 1rem;
		}
	}
}

@media (max-width: 860px) {
	.dashboard-content-container {
		width: 100vw !important;
		margin-left: 0 !important;
	}
}
